[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=auto_exporter
X-Python-2-Compatible=false
X-Krita-Manual=Manual.md
Name=Auto Exporter
Comment=Automatically export .png on save